body { background-color: #6b90ca;
       font-family: 'Overpass', sans-serif;
       margin-top: 0px;
       text-align: center;
     }

hr { border: 5px  #eeeeee;
     border-style: dashed;
     border-width: thin;
     border-radius: 10%/50%;
     width: 15%;
    }

.city{ background: url("https://github.com/oherrada/cv-2019/blob/master/city.png?raw=true") no-repeat;
       position: relative;
       margin-top: 20%;
       padding-top: 40%;
       padding-bottom: 30%;
       background-size: 100%;
     }

.name{ position: absolute;
       top: 16%; left: 60%;
       color: #f6f5f5;
       font-family: 'Covered By Your Grace', cursive;
       font-size: 5vw;
      }

.dev{ position: absolute;
      top: 23%; left: 61%;
      color: #f6f5f5;
      font-family: 'Shadows Into Light', cursive;
      font-size: 3vw;
    }

.cloud1{ position: absolute;
         top: 24%; left: 12%;
         width: 10%;
       }

.cloud2{ position: absolute;
         top: 15%; left: 37%;
         width: 13%;
       }

.OHLogo{ height: 100px;
         width: 150px;
       }

.devimg{ height: 100px;
         width: 100px;
       }

.contact{ height: 100px;
         width: 100px;
        }

.space{ padding: 80px;
      }

.artist{ position: relative;
         top: 95px;
         height: 100px;
         width: 100px;
       }

#pencil1{ position: relative;
          bottom: 10px;
          height:100px;
          width: 100px;
        }

.container2{ position: relative;
             text-align: center;
            }
